.desktop-homepage-main{
    background-image: url(../../Images/desktop-main.svg);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 700px;
}

.desktop-image{
    border-radius: 100px;
    background-image: url('../../Images/avatar.jpeg');
    background-position: center;
    filter: grayscale(100%);
    opacity:70%;
    background-size: cover;
    width: 200px;
    height: 200px;
}