.homepage-container{
    height: 100vh;
    // width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintenance-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 31.25rem;
    height: 10.25rem;
}

.maintenance-header{
    color:white;
}
.maintenance-text{
    color: white;
}
.maintenance-subtext{
    color: grey;
}
