.projects{
    background: linear-gradient(#acbbc0, #3b5a9a);
    width: 100%;
    max-width: 700px;
    height: 350px;
    display: flex;
    flex-direction: column;
   
    &__header{
        background-color:  #fef7fe;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
}

.projects-card{
    width: 100%;
    height: 300px;
    display: flex;

    &__content{
        width: 100px;
        height: 200px;
        display: flex;
        margin-top: .5rem;
        margin-left: 1rem;
        flex-direction: column;
        align-items: center;
    }
    
    &__img{
        width: 100%;
        height: 100%;
        object-fit:fill;
        object-position: center;
        border-radius: 10px;
    }
    &__img:hover{
        transform: scale(1.5);
    }
}