<!-- TODO: 
 
- Add font
- Active Links route to different pages
- Acitve link Highlight
- Convert PX to REM
-->

<div class="navigation-container">

    <div class="name">
        <p>Johnnie Hicks</p>
    </div>

    <nav class="navigation-links-container">
        <ul class="navigation-link">
            <li><a class="link" routerLink="">About</a></li>
            <li><a class="link" href="">Projects</a></li>
            <li><a class="link" href="">Books</a></li>
            <li><a class="link" href="">Shop</a></li>
        </ul>
    </nav>

</div>
