<!-- TODO: 
- Add font
- Active Links route to different pages
- Acitve link Highlight
-->

<div class="navigation-container">

    <div class="name">
        <p>Johnnie Hicks</p>
    </div>

    <nav class="navigation-links-container">
        <ul class="navigation-link">
            <li><a class="link" routerLinkActive="active-link" routerLink="/">About</a></li>
            <li><a class="link" routerLinkActive="active-link" routerLink="/projects">Projects</a></li>
            <li><a class="link" routerLinkActive="active-link" routerLink="/books">Books</a></li>
            <li><a class="link" routerLinkActive="active-link" routerLink="/shop">Shop</a></li>
        </ul>
    </nav>

</div>
