.navigation-container{
    display: flex;
    justify-content: space-between;
}

.name{
    width: 7.8rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links-container{
    width: 31.25rem;
    margin-right: 3.75rem;
}

.navigation-link{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: #727272;
}