@use '../Breakpoints/Breakpoints.scss' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Header CSS
.header{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color{
    color:white;
    text-decoration: none;
}

//Everthing else

.about{
    display: flex;
    justify-content: flex-end;
    @include tablet{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    }
}

.about-left{
    @include tablet{
    margin-left: 1rem;
    margin-bottom: 1rem;
    }
}
