aside{
    position: fixed;
    height: 100vh;
    width: 140px;
}
.desktop-nav-main{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 140px;
    background-color: rgb(64,60,86);
}

.desktop-nav-ul{
    display: flex;
    flex-direction: column;
    height: 70%;
    align-self: center;
    justify-content: space-between;
}

.desktop-nav-li{
    list-style: none;
    text-align: center;
    height: 35px;
    vertical-align: middle;
    line-height: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.desktop-nav-li:hover{
    background-color: rgb(82, 77, 110);
    border: 2px solid white;
    border-radius: 15px;
}

.nav-link, .text-color{
    color: white;
}

.nav-link{
    text-align: center;
    height: 35px;
    vertical-align: middle;
    line-height: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px
}

.nav-link__active{
    background-color: rgb(82, 77, 110);
    height: 35px;
    border: 2px solid white;
    border-radius: 15px;
}

.nav-link:hover{
    background-color: rgb(82, 77, 110);
    border: 2px solid white;
    border-radius: 15px;
}
