.footer-main{
    background-color: #3F3D56;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
// sizing the icons
.github-icon{
    height: 25px;
}

.gmail-icon{
    height: 25px;
}

.linkedin-icon{
    height: 25px;
}

